*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--blue: hsl(233, 47%, 7%);
	--dark-blue: hsl(244, 38%, 16%);
	--violet: hsl(277, 64%, 61%);
	--white: hsl(0, 0%, 100%);
	--white-mid: hsla(0, 0%, 100%, 0.75);
	--white-high: hsla(0, 0%, 100%, 0.6);
}

html {
	font-family: Inter;
}

.container {
	background-color: var(--blue);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	background-color: var(--dark-blue);
	display: flex;
	border-radius: 5px;
}

.text-side {
	width: 25rem;
	display: flex;
	justify-content: center;
	flex-flow: column;
	margin: 0rem 5rem;
	text-align: left;
}

.main-heading {
	word-wrap: break-word;
	margin-bottom: 5rem;
}

.header {
	color: var(--white);
	margin-bottom: 2rem;
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
}

.header span {
	color: var(--violet);
}

.description {
	color: var(--white-mid);
	line-height: 1.7rem;
}

.stats {
	display: flex;
}

.stat-content {
	margin-right: 4rem;
	color: var(--white-high);
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
}

.stat-content h2 {
	color: var(--white);
	font-size: 1.4rem;
	margin-bottom: 0.4rem;
}

.image-side {
	height: 26.8rem;
	position: relative;
}

img {
	width: 100%;
	height: 100%;
}

.desktop-image {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: linear-gradient(var(--violet), var(--violet));
	opacity: 0.5;
}

.mobile-image {
	display: none;
}

/*************************************/
/* MOBILE STYLE */
/*************************************/

@media only screen and (max-width: 375px) {
	html {
		font-size: 10px;
	}
	.container {
		height: auto;
	}
	.card {
		flex-direction: column-reverse;
		align-items: center;
		margin: 3rem 0;
	}
	.text-side {
		width: 19rem;
		text-align: center;
		margin: 0;
	}
	.header {
		margin-top: 3rem;
		letter-spacing: 0;
		word-spacing: 0;
	}
	.description {
		font-size: 1.1rem;
	}
	.main-heading {
		margin-bottom: 3rem;
	}

	.stats {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.stat-content {
		margin: 0;
		margin-bottom: 2rem;
		letter-spacing: 0.1rem;
		font-size: 1rem;
	}
	.stat-content h2 {
		margin: 0.5rem;
		font-size: 1.8rem;
	}
	.image-side {
		height: 19rem;
		width: 26rem;
	}
	.desktop-image {
		display: none;
	}
	.mobile-image {
		display: inline;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}
